:root {
  --primary: rgb(202, 177, 177);
  --secondary: #482571;
}

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7.5px;
}

*::-webkit-scrollbar-track {
  background: #0F060A;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 14px;
  border: 10px solid #11212C;
}

@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    background-image: linear-gradient(180deg,
        #0f0f12 0%,
        hsl(255deg 18% 4%) 24%,
        rgb(15, 10, 19) 35%,
        #0e0404 76%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
  }

  h1 {
    @apply text-headline;
    @apply text-5xl;
    @apply font-bold;
  }

  h2 {
    @apply text-headline;
    @apply text-2xl;
    @apply font-bold;
  }

  h3 {
    @apply text-lg;
    @apply text-headline
  }

  h4 {
    @apply text-headline
  }

  p {
    @apply text-paragraph;
    @apply text-lg;
  }

  a {
    @apply text-headline;
  }

  ul>li {
    @apply text-headline;
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: auto;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: auto;
    color-scheme: dark;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    align-self: center;
  }

  [hidden] {
    display: none;
  }
}